<!DOCTYPE html>
<html>
  <head>
    <title>Glossier</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# favicon %>
    <link rel="shortcut icon" type="image/x-icon" href="https://v2-assets.glossier.com/assets/favicon-e3f1a5810fbe4c403ea387e36a6f3428e01c08f2d6cdd35b94e943a7375cb294.ico">

    <%# loading %>
    <%# <style type="text/css">
      .is-app--loading .o-wrp--loading {
        z-index: 1000;
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        max-width: 100%;
        height: 100%;
        max-height: 100%;
        background-color: #fff;
      }
    </style>
    
    <iframe src="javascript:void(0)" title="" style="width: 0px; height: 0px; border: 0px; display: none;">
      <html><head></head><body onload="document._l();" class="vsc-initialized"><script id="boomr-if-as" src="https://s.go-mpulse.net/boomerang/Q5PZP-GNY5E-YR5NM-TNDTK-WJKXY"></script></body></html>
    </iframe> %>

    <%# custom styling %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    
    <%= yield %>
  </body>
</html>
